<span #menuBtn style="display: block;" (click)="openMenu()" id="menuBtn" class="material-icons">
    menu
</span>

<nav #menu>
    <span #menuCloseBtn (click)="closeMenu()" id="menuCloseBtn" class="material-icons">
        close
    </span>
    <ul>
        <li><a routerLink="om-rørdal-run">Om rørdal run</a></li>
        <li><a routerLink="distancer">Distancer</a></li>
        <li><a routerLink="tilmelding">Tilmelding</a></li>
        <li><a routerLink="deltagerliste">Deltagerliste</a></li>
        <li>
            <details *ngIf="!isLoggedIn">
                <summary>Login</summary>
                <form [formGroup]="login" (ngSubmit)="onSubmit()">
                    <label for="username">Brugernavn</label>
                    <input formControlName="username" type="text" placeholder="Skriv dit brugernavn">
                    <label for="password">Adgangskode</label>
                    <input formControlName="password" type="password" placeholder="Skriv din adgangskode">
                    <button [disabled]="!login.valid">Login</button>
                </form>
            </details>
            <button id="logout" (click)="logout()" *ngIf="isLoggedIn">Logout</button>
        </li>
    </ul>
</nav>