.overall-container {
    display: flex;
    min-height: 95vh;
    width: 100vw;

    .main-aside {
        position: fixed;
        height: 100%;
        background-color: #eb4034;
        width: 280px;
        margin-left: auto;
        right: 0;

        @media (max-width: 1000px) {
            width: 80px;
        }

        figure {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            padding: 3em 0;

            img {
                height: 100%;
                width: 280px;
                cursor: pointer;

                @media (max-width: 1000px) {
                    width: 80px;
                }
            }
        }
    }

    .main-container {
        width: calc(100% - 280px);

        @media(max-width: 1000px) {
            width: calc(100% - 80px);
        }
    }
}