<footer>
    <section class="footer-container">
        <p class="rotate">INFORMATION</p>
        <section>
            <ul>
                <li><a routerLink="">OM RØRDAL RUN</a></li>
                <li><a routerLink="">RUTER</a></li>
                <li><a routerLink="">TILMELDING</a></li>
                <li><a routerLink="">DISTANCER</a></li>
            </ul>
        </section>
        <p class="rotate">KONTAKT OS</p>
        <section>
            <p>+45 35 67 90 87</p>
            <p>ROERDALRUN@MAIL.COM</p>
        </section>
        <section class="arrow">
            <span class="material-icons">
                arrow_upward
            </span>
        </section>
    </section>
</footer>